
body{
	background-color:skyblue;
}

.last{	
	color: red;
}


body p:first-child{
	background-color: black;
	color: white;
}

ul li:nth-child(even){
	background-color: slategray;
}

ul li:nth-child(odd){
	background-color: pink;
}

ul li:first-child,ul li:last-child{
	background-color: white;
}
li{
	width: 50%;
	padding: 5px;
}


